.accessory .accessory-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.accessory-list__img {
  margin: auto;
}
.accessory-list__img img {
  width: 50%;
  display: block;
  margin: auto;
}
.accessory .accessory-content .accessory-content-title {
  font-size: 24px;
}
.accessory .accessory-three__dot {
  cursor: pointer;
}

.accessory-popover .accessory-popover__content {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.accessory-popover .accessory-popover__content:hover {
  cursor: pointer;
  background-color: bisque;
}

.accessory__create_btn {
  display: flex;
  justify-content: flex-end;
}

.accessory-create .accessory-create__title {
  font-size: 30px;
  font-weight: 600;
}

.accessory-create .accessory-create__form {
  width: 50%;
  margin: auto;
}

.accessory-detail__container {
  width: 80%;
  display: flex;
  padding: 12px;
}
.accessory-detail__title {
  font-family: 'Futurab';
  font-weight: normal;
  font-size: 3em;
  color: #e00d7a;
  line-height: 50px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  text-shadow: 4px 4px 0 rgb(0 0 0 / 10%);

  font-weight: 800;
}
.accessory-detail__image {
  width: 50%;
}
.accessory-detail__image img {
  width: 100%;
}
.accessory-detail__info {
  width: 50%;
  text-align: left;
  padding-left: 80px;
}
.accessory-detail__content {
  font-size: 1.5em;
  padding: 8px;
}
.ql-container.ql-snow {
  min-height: 200px;
  height: fit-content;
}
