#components-layout-demo-side .logo .img {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.layout .layout-menu-select {
  background-color: rgb(172, 172, 255);
}

.layout .layout-menu-select:hover {
  background-color: rgb(172, 172, 255);
}
