.trademark .trademark-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.trademark-list__img {
  margin:auto;
}
.trademark-list__img img{
  width:50%;
  display:block;
  margin:auto;
}
.trademark .trademark-content .trademark-content-title {
  font-size: 24px;
}
.trademark .trademark-three__dot {
  cursor: pointer;
}

.trademark-popover .trademark-popover__content {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
}

.trademark-popover .trademark-popover__content:hover {
  cursor: pointer;
  background-color: bisque;
}

.trademark__create_btn {
  display: flex;
  justify-content: flex-end;
}

.trademark-create .trademark-create__title {
  font-size: 30px;
  font-weight: 600;
}

.trademark-create .trademark-create__form {
  width: 50%;
  margin: auto;
}

